#app {
    padding: 1rem;
    height: 100%;
}
#components-layout-demo-basic {
    direction: rtl;
    height: 100%;
}
#components-layout-demo-basic .ant-layout-header {
    background: white;
}
#components-layout-demo-basic .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
    padding: 1rem;
}
#components-layout-demo-basic .ant-layout-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}
#components-layout-demo-basic > .ant-layout {
    min-height: 100%;
}
#components-layout-demo-basic > .ant-layout:last-child {
    margin: 0;
}
