#app {
    padding: 1rem;
    height: 100%;
}
#components-layout-demo-basic {
    direction: rtl;
    height: 100%;
}
#components-layout-demo-basic .ant-layout-header {
    background: white;
    display: flex;
    height: 100px;
    align-items: center;
    h1 {
        margin: 0 0 0 10px;
        font-size: 80px;
    }
}
#components-layout-demo-basic .ant-layout-sider {
    background: #3be9a961;
    color: #fff;
    line-height: 120px;
    padding: 1rem;
}
#components-layout-demo-basic .ant-layout-content {
    padding: 2rem 3rem 0;
    min-height: 120px;
    // background: rgba(16, 142, 233, 1);
}
#components-layout-demo-basic > .ant-layout {
    min-height: 100%;
}
#components-layout-demo-basic > .ant-layout:last-child {
    margin: 0;
}
.ant-form-item-label label {
    font-weight: bold;
    font-size: 30px;
}

.ant-form label {
    font-size: 50px;
    color: #1317fa;
}
.ant-form-item-label {
    line-height: 60px;
}
.ant-radio-inner {
    top: -5px;
    width: 30px;
    height: 30px;
}
.ant-radio-inner::after {
    left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    top: 4px;
}
.ant-input,
.ant-input-number-input,
.ant-radio-wrapper span {
    color: #f00;
    font-size: 50px;
}
.ant-checkbox-wrapper {
    font-size: 20px;
}

.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn {
    display: none;
}

.ant-calendar-picker-input.ant-input {
    height: 80px;
    padding: 10px 0 10px 10px;
    width: 560px;
}

.ant-drawer-content {
    background-color: #efe4b0;
}

.ant-row-flex {
    flex-wrap: nowrap !important;
}

.ant-input-number + .ant-input-number {
    margin-left: 20px;
}

.ant-calendar-picker + .ant-calendar-picker {
    margin-left: 20px;
}

.ant-radio {
    margin-bottom: 5px;
}
.ant-input-number-lg,
.ant-input-number-lg input {
    height: 80px;
    padding-left: 10px !important;
    padding: 0;
}

.ant-select-selection__rendered,
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    font-size: 60px;
    height: 80px !important;
}

.ant-select-lg
    .ant-select-selection--multiple
    .ant-select-selection__rendered
    li {
    height: 80px;
    line-height: 80px;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    top: 23%;
    line-height: 60px;
}
.ant-select-selection--multiple .ant-select-selection__choice {
    color: black;
}
.ant-select-dropdown-menu-item {
    color: black;
    font-size: 60px;
    line-height: 60px;
}

.ant-drawer-content-wrapper {
    width: 100% !important;
}

.ant-input {
    height: 80px;
    width: 500px;
}

.ant-checkbox-inner::after {
    width: 15px;
    height: 35px;
}

.ant-checkbox-inner {
    width: 50px;
    height: 50px;
}
.ant-select-dropdown-menu {
    max-height: 750px !important;
}

.ant-select-dropdown.ant-select-dropdown--multiple
    .ant-select-dropdown-menu-item
    .ant-select-selected-icon {
    font-size: 24px;
}
